<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../layout/head')%>
    <title>Home Page</title>


</head>

<body>
    <header>
        <%-include('../layout/header')%>
        
     <!--  -->
     <div id=container>
        Out of Creative fuel? 
        <div id=flip>
          <div><div> Molhem</div></div>
          <div><div> Molhem</div></div>
          <div><div> Molhem</div></div>
        </div>
        is here to inspire you!
      </div>
  

    
     <!--  -->

        <!-- <h1>Out of Creative fuel?<span> Molhem </span>is here to inspire you!</h1> -->
        <a href="#mainID" class="arrow"><img src="./resources/arrow-icon.png" alt="arrow icon"></a>

    </header>

    <main id="mainID">
        <h1>Top Ideas</h1>
        <section id="topPicks">
            <%photos.forEach(item =>{%>
            <section>
                <button class="btnMain">save idea</button>
                <div id="top12Div">
                    <img src="<%=item.img_url%>">
                    <div>
                        <h2>Title:<%= item.title %></h2>
                        <h3>Creator:<%= item.creator_name%></h3>
                        <h4>Categories:<%= item.categories%></h4>
                        <h5>Source: <a href="<%=item.source_url%>"><%=item.source_url%></a></h5>
                        <h6>likes: <%= item.likes%></h6>

                        <!-- <form action="/" method="POST" >
                    <input type="text" name="img_url" value="<%=item.img_url%>">
                    <input type="text" name="title" value="<%= item.title %>">
                    <input type="text" name="creator_name" value="<%= item.creator_name%>">
                    <input type="text" name="categories" value="<%= item.categories%>">
                    <input type="text" name="source_url" value="<%=item.source_url%>">
                    <input type="text" name="likes" value=" <%= item.likes%>">
                </form> -->
                    </div>
                </div>
            </section>
            <% }) %>
            <a href="#toSearch" class="arrow"><img src="./resources/arrow-icon.png" alt="arrow icon"></a>

        </section>



        <section id="toSearch">
            <div>
                <h1>Not Inspired Yet? Search for other ideas Now!</h1>
                <a href="">SEARCH</a>
            </div>

            <a href="#toSaved1" id="toSavedArrow"><img src="./resources/arrow-icon.png" alt="arrow icon"></a>

        </section>

        <h1 id="toSaved1">Check Saved Ideas!</h1>
        <section id="toSaved">

            <section>
                <img src="./resources/placeholder.png" alt="">
                <div>
                    <h2>Title: The ultimate test of tests 2</h2>
                    <h3>Creator: Lorem Bin Ipsum Althani</h3>
                    <p>Categories: Art - Drawing - Abstract</p>
                    <p>Scource: Pixabay</p>
                </div>
            </section>
            <section>
                <img src="./resources/placeholder.png" alt="">
                <div>
                    <h2>Title: The ultimate test of tests 2</h2>
                    <h3>Creator: Lorem Bin Ipsum Althani</h3>
                    <p>Categories: Art - Drawing - Abstract</p>
                    <p>Scource: Pixabay</p>
                </div>
            </section>
            <section>
                <img src="./resources/placeholder.png" alt="">
                <div>
                    <h2>Title: The ultimate test of tests 2</h2>
                    <h3>Creator: Lorem Bin Ipsum Althani</h3>
                    <p>Categories: Art - Drawing - Abstract</p>
                    <p>Scource: Pixabay</p>
                </div>
            </section>
            <a href="">See more saved ideas</a>
        </section>

    </main>

    <footer>
        <%-include('../layout/footer')%>
    </footer>




    <%-include('../layout/script')%>
    <!-- <script src="https://unpkg.com/mustache@latest"></script> -->
   

    <script>

        $(document).ready(() => {
            $('.btnMain').on('click', function (event) {
                event.preventDefault();
                const data = {
                    title: $(this).next('#top12Div').find('h2').text(),
                    creator_name: $(this).next('#top12Div').find('h3').text(),
                    categories: $(this).next('#top12Div').find('h4').text(),
                    source_url: $(this).next('#top12Div').find('h5').find('a').text(),
                    img_url: $(this).next('#top12Div').find('img').attr('src'),
                    likes: $(this).next('#top12Div').find('h6').text(),

                }
                $.ajax({
                    type: "POST",
                    url: 'http://localhost:5000/',
                    // url:'https://molhem-development.herokuapp.com/',
                    data: JSON.stringify(data),
                    success: function (res) {
                        console.log('success function', res);
                        alert('Great Idea! You can check it anytime in the saved ideas page.')
                    },
                    contentType: "application/json"
                });
            })

        })
    </script>


</body>

</html>