<!DOCTYPE html>
<html lang="en">

<head>

    <%-include('../layout/head')%>
    <title>Home Page</title>


</head>

<body>
    <header>
        <%-include('../layout/header')%>

        <!-- <div id=container>
            Out of Creative fuel?
            <div id=flip>
                <div>
                    <div> Molhem</div>
                </div>
                <div>
                    <div> Molhem</div>
                </div>
                <div>
                    <div> Molhem</div>
                </div>
            </div>
            is here to inspire you!
        </div> -->



        <!--  -->

        <!-- <h1>Out of Creative fuel?<span> Molhem </span>is here to inspire you!</h1> -->
        <h1>Images that do not leave us, but enter with the intention of staying.</h1>

        <a href="#mainID" class="arrow"><img src="./resources/arrow-icon5.png" alt="arrow icon"></a>

    </header>

    <main id="mainID">
        <h1>Top Ideas</h1>
        <section id="topPicks">
            <%photos.forEach(item =>{%>
            <section>
                <button class="btnMain">save idea</button>
                <div id="top12Div">
                    
                    <div class="front">
                        <img src="<%=item.img_url%>">
                    </div>
                    <div class="back">
                        <h2>
                            <span class="nameForm">Title: </span> <span class="containForm"> <%= item.title %></span>
                        </h2>
                        <h3>
                            <span class="nameForm">Creator: </span> <span
                                class="containForm"><%= item.creator_name%></span>
                        </h3>
                        <h4>
                            <span class="nameForm"> Categories:</span> <span
                                class="containForm"><%= item.categories%></span>
                        </h4>
                        <h5>
                            <span class="nameForm"> Source:</span>
                            <span id="containForm"> <a href="<%=item.source_url%>"><%=item.source_url%></a></span>
                        </h5>
                        <h6>
                            <span class="nameForm"> likes:</span>
                            <span class="containForm"><%= item.likes%> </span>
                        </h6>

                    </div>
                </div>

            </section>
            <% }) %>


            <a href="#toSearch" class="arrow"><img src="./resources/arrow-icon5.png" alt="arrow icon"></a>
        </section>



        <section id="toSearch">
            <div>
                <h1>Not Inspired Yet? Search for new ideas Now!</h1>
                <a href="/search/new">SEARCH</a>
            </div>
        </section>


    </main>


    <footer>
        <%-include('../layout/footer')%>
    </footer>
    <%-include('../layout/script')%>
    <script>

        $(document).ready(() => {

            $('#hamburgerMenu').hide();

            $('#hamburgerBtn').on('click', () => {
                $('#hamburgerMenu').toggle();
            })

            $('.btnMain').on('click', function (event) {
                event.preventDefault();
                const data = {
                    title: $(this).next('#top12Div').find('h2').text(),
                    creator_name: $(this).next('#top12Div').find('h3').text(),
                    categories: $(this).next('#top12Div').find('h4').text(),
                    source_url: $(this).next('#top12Div').find('h5').find('a').text(),
                    img_url: $(this).next('#top12Div').find('img').attr('src'),
                    likes: $(this).next('#top12Div').find('h6').text(),

                }
                $.ajax({
                    type: "POST",
                    // url: 'http://localhost:8000/',
                    url:'https://molhem.herokuapp.com/',
                    data: JSON.stringify(data),
                    success: function (res) {
                        console.log('success function', res);
                        alert('Great Idea! You can check it anytime in the saved ideas page.')
                    },
                    contentType: "application/json"
                });
            })

        })
    </script>


</body>

</html>
