<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/base.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="index.ejs"><img src="./resources/logo.png" alt="Molhem logo"></a></li>
            <nav>
                <li><a href="index.ejs">Home</a></li>
                <li><a href="search.ejs">Search</a></li>
                <li><a href="saved.ejs">Saved ideas</a></li>
                <li><a href="">Ideas Board</a></li>
                <li><a href="about.html">About us</a></li>
            </nav>
            <button id="hamburgerBtn"><img src="./resources/menuIcon.png" alt="menu icon"></button>
        </ul>
        <!-- Hamburger Menu For the mobile view -->
        <div id="hamburgerMenu">
            <ul>
                <nav>
                    <li><a href="index.ejs">Home</a></li>
                    <li><a href="search.ejs">Search</a></li>
                    <li><a href="saved.ejs">Saved ideas</a></li>
                    <li><a href="">Ideas Board</a></li>
                    <li><a href="about.html">About us</a></li>
                </nav>
            </ul>
        </div>

        <h1>Out of Creative fuel?<span> Molhem </span>is here to inspire you!</h1>
        <a href="#mainID" class="arrow"><img src="./resources/arrow-icon.png" alt="arrow icon"></a>

    </header>

    <main id="mainID">
        <h1>Top Ideas</h1>
        <section id="topPicks">
            <%photos.forEach(item =>{%>
            <section>
                <img src="<%=item.img_url%>">
                <div>
                    <h2>Title:<%= item.title %></h2>
                    <h3>Creator:<%= item.creator_name%></h3>
                    <p>Categories:<%= item.categories%></p>
                    <p>Source: <a href="<%=item.source_URL%>"><%=item.source_URL%></a></p>
                    <p>likes: <%= item.likes%></p>
                </div>
                
            </section>
            <% }) %>

            <a href="#toSearch" class="arrow"><img src="./resources/arrow-icon.png" alt="arrow icon"></a>

        </section>

        <section id="toSearch">
            <div>
                <h1>Not Inspired Yet? Search for other ideas Now!</h1>
                <a href="">SEARCH</a>
            </div>

            <a href="#toSaved1" id="toSavedArrow"><img src="./resources/arrow-icon.png" alt="arrow icon"></a>

        </section>

        <h1 id="toSaved1">Check Saved Ideas!</h1>
        <section id="toSaved">

            <section>
                <img src="./resources/placeholder.png" alt="">
                <div>
                    <h2>Title: The ultimate test of tests 2</h2>
                    <h3>Creator: Lorem Bin Ipsum Althani</h3>
                    <p>Categories: Art - Drawing - Abstract</p>
                    <p>Scource: Pixabay</p>
                </div>
            </section>
            <section>
                <img src="./resources/placeholder.png" alt="">
                <div>
                    <h2>Title: The ultimate test of tests 2</h2>
                    <h3>Creator: Lorem Bin Ipsum Althani</h3>
                    <p>Categories: Art - Drawing - Abstract</p>
                    <p>Scource: Pixabay</p>
                </div>
            </section>
            <section>
                <img src="./resources/placeholder.png" alt="">
                <div>
                    <h2>Title: The ultimate test of tests 2</h2>
                    <h3>Creator: Lorem Bin Ipsum Althani</h3>
                    <p>Categories: Art - Drawing - Abstract</p>
                    <p>Scource: Pixabay</p>
                </div>
            </section>
            <a href="">See more saved ideas</a>
        </section>

    </main>

    <footer>
        <p>All Rights Reserved @2020</p>
    </footer>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/mustache@latest"></script> -->
    <script src="js/app.js"></script>

</body>

</html>