<!DOCTYPE html>
<html lang="en">

<head>

    <title>Search</title>
    <%-include('../layout/head')%>
    
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="../style/search.css">
</head>

<body>
    <header>
        <%-include('../layout/header')%>
        <h1>Start searching for new ideas!</h1>
        <a href="#mainIDSearch" class="arrow"><img src="../resources/arrow-icon5.png" alt="arrow icon"></a>
    </header>

    <main>
        <section id="mainIDSearch">
            <form action="/search" method="POST">
                <legend>Search For New Ideas</legend>

                <label for="">
                    <input type="text" name="picName" placeholder="Search for ideas">
                </label>
                <div>
                    <label for="">
                        <input type="radio" name="selectApi" value="unsplash">
                        Unsplash
                    </label>

                    <label for="">
                        <input type="radio" name="selectApi" value="pixabay">
                        Pixabay
                    </label>
                </div>

                <div>

                    <label for="">
                        <input type="radio" name="selectType" value="image">
                        image
                    </label>
                    <label for="">
                        <input type="radio" name="selectType" value="video">
                        video
                    </label>
                </div>


                <button type="submit">Search</button>

            </form>
        </section>

        <section id="results">

            <%keyPhoto.forEach((item, idx) =>{%>
            <section>
                <button class="btn">Add item<%=idx%></button>
                <div id="resultDiv">
                    <img src="<%=item.img_url%>">
                    <!-- <object data="<%=item.img_url%>"></object> -->
                    <!-- <embed src="<%=item.img_url%>" width="300" height="200"> -->

                    <div id="resultDiv2">
                        <h2> <span> Title:</span> <%= item.title %></h2>
                        <h3> <span> Creator:</span><%= item.creator_name%></h3>
                        <h4> <span>Categories: </span> <%= item.categories%></h4>
                        <h5> <span> Source:</span> <a href="<%=item.source_url%>"><%=item.source_url%></a></h5>
                        <h6> <span>likes: </span> <%= item.likes%></h6>
                    </div>
                </div>

            </section>
            <% }) %>


        </section>


    </main>

    <footer>

        <%-include('../layout/footer')%>
    </footer>
    <%-include('../layout/script')%>
    <script>

        
        $(document).ready(() => {

            $('#hamburgerMenu').hide();

            $('#hamburgerBtn').on('click', () => {
                $('#hamburgerMenu').toggle();
            })

            $('.btn').on('click', function (event) {
                event.preventDefault();
                const data = {
                    titleHid: $(this).next('#resultDiv').find('h2').text(),
                    creatorHid: $(this).next('#resultDiv').find('h3').text(),
                    categoriesHid: $(this).next('#resultDiv').find('h4').text(),
                    sourceHid: $(this).next('#resultDiv').find('h5 a').text(),
                    imgHid: $(this).next('#resultDiv').find('img').attr('src'),
                    likesHid: $(this).next('#resultDiv').find('h6').text()
                }

                $.ajax({
                    type: "POST",
                    // url: 'http://localhost:8000/search/add',
                    url:'https://molhem-development.herokuapp.com/',
                    data: JSON.stringify(data),
                    success: function (res) {
                        console.log('success function', res);
                        alert('Great Idea! You can check it anytime in the saved ideas page.')
                        //alert
                    },
                    contentType: "application/json"
                });
            })

        })
    </script>




</body>

</html>