<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/base.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="index.ejs"><img src="./resources/logo.png" alt="Molhem logo"></a></li>
            <nav>
                <li><a href="">Home</a></li>
                <li><a href="">Search</a></li>
                <li><a href="">Saved ideas</a></li>
                <li><a href="">Ideas Board</a></li>
                <li><a href="">About us</a></li>
            </nav>
            <button id="hamburgerBtn"><img src="./resources/menuIcon.png" alt="menu icon"></button>
        </ul>
        <!-- Hamburger Menu For the mobile view -->
        <div id="hamburgerMenu">
            <ul>
                <nav>
                    <li><a href="">Home</a></li>
                    <li><a href="">Search</a></li>
                    <li><a href="">Saved ideas</a></li>
                    <li><a href="">Ideas Board</a></li>
                    <li><a href="">About us</a></li>
                </nav>
            </ul>
        </div>
        <h1>Start searching for new ideas!</h1>
        <a href="#mainIDSearch" class="arrow"><img src="./resources/arrow-icon.png" alt="arrow icon"></a>
    </header>

    <main>
        <section id="mainIDSearch">
            <form action="/search" method="POST">
                <legend>Search</legend>
                <label for="">
                    <input type="text" name="picName" placeholder="search for ideas">
                </label>
                <label for="">
                    <input type="radio" name="selectApi" value="Dribble">Dribble</label>

                <label for="">
                    <input type="radio" name="selectApi" value="Pixabay">Pixabay</label>

                <label for="">
                    <input type="radio" name="selectType" value="image">image</label>
                <label for="">
                    <input type="radio" name="selectType" value="video">video</label>

                <button type="submit">Search</button>
            </form>

        </section>

        <section id="results">
            <div id="dribbleResults">

            </div>

            <div id="pixabayResults">
                
                <%keyPhoto.forEach(item =>{%>
                    <section>
                        <img src="<%=item.img_url%>">
                        <div>
                            <h2>Title:<%= item.title %></h2>
                            <h3>Creator:<%= item.creator_name%></h3>
                            <p>Categories:<%= item.categories%></p>
                            <p>Source: <a href="<%=item.source_URL%>"><%=item.source_URL%></a></p>
                            <p>likes: <%= item.likes%></p>
                        </div>
                        
                    </section>
                    <% }) %>

            </div>

        </section>


    </main>

    <footer>
        <p>All Rights Reserved @2020</p>

    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/mustache@latest"></script> -->
    <script src="js/app.js"></script>

</body>

</html>