<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/base.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="index.ejs"><img src="./resources/logo.png" alt="Molhem logo"></a></li>
            <nav>
                <li><a href="">Home</a></li>
                <li><a href="">Search</a></li>
                <li><a href="">Saved ideas</a></li>
                <li><a href="">Ideas Board</a></li>
                <li><a href="">About us</a></li>
            </nav>
            <button id="hamburgerBtn"><img src="./resources/menuIcon.png" alt="menu icon"></button>
        </ul>
        <!-- Hamburger Menu For the mobile view -->
        <div id="hamburgerMenu">
            <ul>
                <nav>
                    <li><a href="">Home</a></li>
                    <li><a href="">Search</a></li>
                    <li><a href="">Saved ideas</a></li>
                    <li><a href="">Ideas Board</a></li>
                    <li><a href="">About us</a></li>
                </nav>
            </ul>
        </div>
        <h1>Start searching for new ideas!</h1>
        <a href="#mainIDSearch" class="arrow"><img src="./resources/arrow-icon.png" alt="arrow icon"></a>
    </header>

    <main>
        <section id="mainIDSearch">
            <form action="/search" method="POST">
                <legend>Search</legend>
                <label for="">
                    <input type="text" name="picName" placeholder="search for ideas">
                </label>
                <label for="">
                    <input type="radio" name="selectApi" value="Dribble">Dribble</label>

                <label for="">
                    <input type="radio" name="selectApi" value="Pixabay">Pixabay</label>

                <label for="">
                    <input type="radio" name="selectType" value="image">image</label>
                <label for="">
                    <input type="radio" name="selectType" value="video">video</label>

                <button type="submit">Search</button>
            </form>

        </section>

        <section id="results">
            <div id="dribbleResults">

            </div>

            <div id="pixabayResults">

                <%keyPhoto.forEach((item, idx) =>{%>
                <section>
                    <button class="btn">Add item<%=idx%></button>
                    <div id="resultDiv">
                        <img src="<%=item.img_url%>">
                        <div>
                            <h2>Title:<%= item.title %></h2>
                            <h3>Creator:<%= item.creator_name%></h3>
                            <h4>Categories:<%= item.categories%></h4>
                            <h5>Source: <a href="<%=item.source_URL%>"><%=item.source_URL%></a></h5>
                            <h6>likes: <%= item.likes%></h6>
                        </div>
                    </div>

                </section>
                <% }) %>
            </div>

        </section>


    </main>

    <footer>
        <p>All Rights Reserved @2020</p>

    </footer>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/mustache@latest"></script> -->
    <script src="js/app.js"></script>


    <script>
        $(document).ready(() => {

            $('.btn').on('click', function (event) {
                event.preventDefault();
                const data = {
                    titleHid: $(this).next('#resultDiv').find('h2').text(),
                    creatorHid: $(this).next('#resultDiv').find('h3').text(),
                    categoriesHid: $(this).next('#resultDiv').find('h4').text(),
                    sourceHid: $(this).next('#resultDiv').find('h5 a').text(),
                    imgHid: $(this).next('#resultDiv').find('img').attr('src')

                }
                $.ajax({
                    type: "POST",
                    url: 'http://localhost:8000/search/add',
                    // url:'https://molhem-development.herokuapp.com/',
                    data: JSON.stringify(data),
                    success: function (res) {
                        console.log('success function', res);
                        alert('Great Idea! You can check it anytime in the saved ideas page.')
                        //alert
                    },
                    contentType: "application/json"
                });
            })

        })
    </script>

</body>

</html>