<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main id="mainID">
        <h1>Saved Ideas</h1>
        <section id="topPicks">
            <%data.forEach(item =>{%>
            <section>
                <img src="<%=item.img_url%>">
                <div>
                    <h2>Title:<%= item.title %></h2>
                    <h3>Creator:<%= item.creator_name%></h3>
                    <p>Categories:<%= item.categories%></p>
                    <p>Source: <a href="<%=item.source_URL%>"><%=item.source_URL%></a></p>
                    <p>likes: <%= item.likes%></p>

                </div>

            </section>
            <% }) %>
           </section>
    </main>
</body>

</html>