<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../layout/head')%>
  
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/base.css"> 
    <title>Search</title>
</head>

<body>
    <header>
        <%-include('../layout/header')%>
        <h1>Start searching for new ideas!</h1>
        <a href="#mainIDSearch" class="arrow"><img src="../resources/arrow-icon.png" alt="arrow icon"></a>
    </header>

    <main>
        <section id="mainIDSearch">
            <form action="/search" method="POST">
                <legend>Search</legend>
                <label for="">
                    <input type="text" name="picName" placeholder="search for ideas">
                </label>
                <label for="">
                    <input type="radio" name="selectApi" value="unsplash">Unsplash</label>

                <label for="">
                    <input type="radio" name="selectApi" value="pixabay">Pixabay</label>

                <label for="">
                    <input type="radio" name="selectType" value="image">image</label>
                <label for="">
                    <input type="radio" name="selectType" value="video">video</label>

                <button type="submit">Search</button>

            </form>
            <!-- <div class="alert alert-success" role="alert"><%- messages.success%></div> -->
        </section>

    </main>

    <footer>
        <%-include('../layout/footer')%>

    </footer>


    <%-include('../layout/script')%>
    <!-- <script src="https://unpkg.com/mustache@latest"></script> -->
   

    <script>
        $(document).ready(() => {
            $('#hamburgerMenu').hide();

            $('#hamburgerBtn').on('click', () => {
                $('#hamburgerMenu').toggle();
            })
        })
    </script>

</body>

</html>